header.site-header{
    background-color: tan;
    color: brown;
    height: 30vh;
}














.menu a{
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

.input-error{
    border: 1px solid red;
}